/* Write your CSS code here */
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.product-image-style {
  height: 150px;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .product-image-style {
    height: 250px;
    width: 250px;
  }
}
